@use 'variables' as v;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: v.$font-sans;
  background: v.$bg-page;
  color: v.$text-primary;
  min-height: 100vh;
  line-height: 1.5;
}

main {
  min-height: calc(100vh - 64px);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

input,
select,
textarea {
  font-family: inherit;
}
